<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
          version="3.0">
  <!--
    头信息说明
    xmlns ———— xml namespace 用到的命名空间
    xmlns:xsi ———— 遵循的xml规范
    xsi:schemaLocation ———— 用到的schema资源
    xml Schema ———— 描述xml文档的结构 DTD的继承和替代者
      * 定义可出现在文档中的元素
      * 定义可出现在文档中的属性
      * 定义哪个元素是子元素
      * 定义子元素的次序
      * 定义子元素的数目
      * 定义元素是否为空，或者是否可包含文本
      * 定义元素和属性的数据类型
      * 定义元素和属性的默认值以及固定值
    version ———— 版本
   -->
  <servlet>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>test.servlet.HelloServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/hello.view</url-pattern>
  </servlet-mapping>

</web-app>